:root {
  --text-color: blue; /* Define a variable for the text color */
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
}

div {
  margin-bottom: 10px;
}

#simulation-container {
  display: inline-block;
}

.number-input {
  width: 70px;
}

body {
  background-color: black;
  color: white;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  background-color: black;
  color: var(--text-color); /* Use the text color variable */
  border: 1px solid #444;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: none;
  border: 1px solid #444;
}

input[type="number"]:focus,
button:focus {
  color: var(--text-color); /* Use the text color variable */
  border: 1px solid var(--text-color); /* Use the text color variable */
}

input[type="number"],
button {
  background-color: black;
  color: white;
  border: 1px solid #444;
}

input[type="number"]:focus,
button:focus {
  outline: none;
  border: 1px solid #444;
}
